<div class="welcome-message">
    <h1>Welcome to Min-Go Dating App</h1>
    <p></p>
    
    <!-- Button linking to the login page -->
    <a href="/login"><button class="btn btn-primary cta-button" type="submit" >Create an Account</button></a>
</div>


