<head>
      <link rel="stylesheet" href="/css/home-style.css">
</head>

<body>
    <div class="welcome-message">
        <h1>Welcome to Min-Go Dating App</h1>
        {{#unless logged_in}}
        <!-- Button linking to the login page -->
        <a href="/signup"><button class="btn btn-primary cta-button" type="submit">Create an Account</button></a>
        {{/unless}}
    </div>

    <div>
        <section class="container home-pix" id="cards-container">
            <section class="card content" id="homepage-card">
                <a href="/api/users">
                    <header>Members</header>
            </section>
            <section class="card content" id="homepage-card">
                <a href="/api/meetups">
                    <header>Meetups</header>
                </a>
            </section>
            <section class="card content" id="homepage-card">
                <a href="/api/interests">
                    <header>Interests</header>
                </a>
            </section>
        </section>
    </div>
</body>

