<div class="row">
  <!-- Login Section -->
  <div class="col-md-6">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <!-- Email Input -->
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <!-- Password Input -->
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <!-- Login Button -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>

  <!-- Redirecting to signup page -->
  <div>
    <p>First Time Visitor? Become a Member!</p>
    <a href="/signup"><button class="btn btn-primary cta-button" type="submit">Create an Account</button></a>
    </div>
</div>

<!-- Include JavaScript for login functionality -->
<script src="./js/login.js"></script>