<div class="row mt-4">
    <div class="col-md-6">
        <!-- Form for creating a new blog post -->
        <h3>Sign-Up</h3>
        <p>To become a member please fill out the form:</p>

        <form class="form signup-form">
            {{!-- first-name --}}
            <div class="form-group">
                <label for="first_name-signup">* First Name:</label>
                <input class="form-input" type="text" id="first_name-signup" name="first-name" required />
            </div>
            {{!-- last-name --}}
            <div class="form-group">
                <label for="last_name-signup">Last Name: (optional)</label>
                <input class="form-input" type="text" id="last_name-signup" name="last_name-signup" />
            </div>
            {{!-- Age --}}
            <div class="form-group">
                <label for="age">* Age:</label>
                <input class="form-input" type="text" id="age" name="age" required />
            </div>
            <!-- Email Input -->
            <div class="form-group">
                <label for="email-signup">* Email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <!-- Password Input -->
            <div class="form-group">
                <label for="password-signup">* Password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            {{!-- Gender --}}
            <div class="form-group">
                <label for="gender">* Gender:</label>
                <select class="form-input" id="gender" name="gender" required>
                    <option value="">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            {{!-- Location --}}
            <div class="form-group">
                <label for="location">* Location:</label>
                <input class="form-input" type="text" id="location" name="location" />
            </div>
            <!-- Status -->
            <div class="form-group">
                <label for="status">Status: (optional)</label>
                <select class="form-input" id="status" name="status">
                    <option value="">Status</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced/widowed">Divorced/Widowed</option>
                </select>
            </div>
            <!-- Education -->
            <div class="form-group">
                <label for="education">Education: (optional)</label>
                <select class="form-input" id="education" name="education">
                    <option value="">Education</option>
                    <option value="High-school">High School</option>
                    <option value="College">College</option>
                    <option value="Bachelors">Bachelor's Degree</option>
                    <option value="Masters">Master's Degree</option>
                    <option value="Doctorate">Doctorate</option>
                </select>
            </div>
            {{!-- Signup Button --}}
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Sign-Up</button>
            </div>
        </form>
    </div>

    <!-- Include JavaScript for login functionality -->
    <script src="./js/signup.js"></script>