 /* THEMATIC STYLING ELEMENTS */
 :root {
    --blue: #66a2bb;
    --sage: #D1CA98;
    --black: rgb(18, 18, 18);
    --green: #bbb266;
    --khaki: #6f816f;
    --orange: rgb(230, 193, 124);
    --sans: 'ProximaNova', sans-serif;
    --rounded: 5px;
    --shadow: var(--khaki) 0px 10px 36px 0px, var(--orange) 0px 0px 0px 1px;
}

/* Takes border off logo box    */
#logo.box {
    border: none !important;
    padding: 0 !important;
    border-radius: var(--rounded);

}


.navbar-start {
    margin-left: auto;
  }


/*nav bar */
.navbar {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.0);
    
}

.navbar-item{
    display: inline;
padding: 20px ;
}

#logo img{
border-radius: var(--rounded);

}

.home-pix {
    display: flex;
    flex-direction: row;
}

.thumbnail {
    width: 320px;
    height: 200px;
    /* margin: 20px; */
    object-fit: cover;
    border-radius: var(--rounded);
    /*border-radius: 15px;*/

}

.card {
    background-color: transparent;
    position: relative;
    display: inline-block;

    margin: 10px;

    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  /* width: 200px;
  height: 150px; */


}

.card header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 2.5em;
    text-align: center;
    z-index: 1;
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.5); */
}


/* kunals css update from homepage */

.welcome-message {
    text-align: center;
    margin-bottom: 20px;
  }

  .home-pix {
    display: flex;
    justify-content: space-between; /* Adjust this based on your needs */
  }

  .card {
    /* width: 30%; Adjust the width as needed */
    text-align: center;
    border: 1px solid #ddd; /* Optional: Add a border for visual separation */
    padding: 10px;
  }

  
  

.heart-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 90px; 
    color: rgba(227, 82, 82, 0.539);
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

.heart-button:hover {
    color: rgb(252, 0, 0); 
    text-shadow: 4px 4px 6px rgb(255, 198, 198);
}

.heart-button.active {
    color: rgb(252, 0, 0);; 
}

/*homepage cards container*/
#cards-container {
    position: absolute;
    top: 12%; /* Adjust the top position to place it in the top 1/3rd */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between; /* Adjust this to control the space between cards */
    width: 80%;
}

/*homepage card*/

#homepage-card.card {
    width: 30%; /* Adjust the width of each card as needed */
    background-color: rgba(102, 162, 187, 0.5);
    height: 200px;
    padding: 20px;
    margin: 10px; /* Adjust the margin to control space between cards */
    border: none;
    box-shadow: 0 10px 400px rgba(0, 0, 0, 0.2);
}